<?xml version="1.0"?>
<!--
/**
 * Copyright 2025 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Main plugin to extract operation info from QueryParser -->
    <type name="Magento\Framework\GraphQl\Query\QueryParser">
        <plugin name="set_flag_if_query_type_query"
                type="Magento\SalesRule\Model\Plugin\QueryParser"
                sortOrder="10" />
    </type>
    <type name="\Magento\GraphQl\Controller\GraphQl">
        <plugin name="reset_flag_post_dispatch"
                type="Magento\SalesRule\Model\Plugin\FrontController"
                sortOrder="10" />
    </type>
</config>
