<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin">
            <group id="e119_admin_logos"
                   translate="label"
                   sortOrder="100"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Admin Logos</label>
                <field id="login"
                       translate="label comment"
                       type="image"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Login Page</label>
                    <comment>
                        <![CDATA[
                            The logo displayed on the admin login page.
                            <br>
                            Supported file types: jpg, jpeg, gif, png
                        ]]>
                    </comment>
                    <backend_model>Magento\CustomAdminLogo\Model\Config\Backend\AdminLoginLogo</backend_model>
                    <upload_dir config="system">admin/logo/custom/login</upload_dir>
                    <base_url type="media" scope_info="0">admin/logo/custom/login</base_url>
                </field>
                <field id="menu"
                       translate="label comment"
                       type="image"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Menu</label>
                    <comment>
                        <![CDATA[
                            The logo displayed at the top of the admin navigation menu.
                            <br>
                            Supported file types: jpg, jpeg, gif, png
                        ]]>
                    </comment>
                    <backend_model>Magento\CustomAdminLogo\Model\Config\Backend\AdminMenuLogo</backend_model>
                    <upload_dir config="system">admin/logo/custom/menu</upload_dir>
                    <base_url type="media" scope_info="0">admin/logo/custom/menu</base_url>
                </field>
            </group>
        </section>
    </system>
</config>
