<?xml version="1.0"?>
<!--
/**
 * Copyright © Mage-OS. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mageos_install" xsi:type="object">MageOS\Installer\Console\Command\InstallCommand</item>
            </argument>
        </arguments>
    </type>
</config>
